div.vertically-centered {
  display: table;
  width: 100%;
  height: 100%;

  & > div {
    display: table-cell;
    vertical-align: middle;
  }

}

a {
  color: #4860EA;
  &:active, &:hover, &:visited { color: #4860EA; }
  &:hover { text-decoration: underline; }
  &:active, &:visited { text-decoration: none; }
}

.difficulty {

  &.beginner {
    color: #5BBB71;
  }

  &.intermediate {
    color: #D69A48;
  }

  &.advanced {
    color: #C82E2F;
  }

}
