.jumbotron {
	width:100%;
	padding:90px 0px;
	background:#4860EA;

  .large {
    font-size:160px !important;
    color:#fff;
  }

  h1 {
    font-size: 32px;
		font-weight: 300;
    color: #FFFFFF;
    letter-spacing: 0px;
    padding-bottom:30px;
    margin:0px;
  }

  p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 34px;
    letter-spacing: 0px;
		margin: 0;
    opacity:0.6;
    font-weight:400;
  }
}
