html, body {
  min-height: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #fff;
}

.wrap {
  min-height: 100%;
  margin-top: -276px;
  padding-top: 276px;
  height: auto !important;
  height: 100%;
}
